@using StudentRegistrationSystem.Models.Entity
@using StudentRegistrationSystem.Helpers
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_studentLayout.cshtml";
}

<center><h2 style="margin-top:10vh"><b>Ders Programı</b></h2></center>
<table class="table table-bordered table-striped" style="margin-top:3vh; margin-left: 0.5vw">
    @{StudentHelper studentHelper = new StudentHelper();
        EnrollmentHelper enrollmentHelper = new EnrollmentHelper();
        int UserID = int.Parse(HttpContext.Current.User.Identity.Name.Split(',')[0]);
        User user = studentHelper.FindUserByID(UserID);
        List<Enrollment> currentEnrollments = new List<Enrollment>();
        foreach(Enrollment e in enrollmentHelper.GetEnrollments())
        {
            if(e.UserID==user.UserID && e.Grade.Equals(null))
            {
                currentEnrollments.Add(e);
            }
        }
    }
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th scope="col" style="width:19%">Pazartesi</th>
            <th scope="col" style="width:19%">Salı</th>
            <th scope="col" style="width:19%">Çarşamba</th>
            <th scope="col" style="width:19%">Perşembe</th>
            <th scope="col" style="width:19%">Cuma</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">09:00</th>
            <td>MIS 201.2 - D6<br /> Dokuzgen Amfi</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">09:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">10:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">10:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">11:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">11:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">12:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">12:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">13:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">13:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">14:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">14:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">15:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">15:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">16:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">16:30</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <th scope="row" bgcolor="#212529" style="color:white">17:00</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
		
