@model StudentRegistrationSystem.Models.Entity.Admin
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/css/simple-sidebar.css" rel="stylesheet">
</head>
<body>

    <div>
        
        <form>
            @using (Html.BeginForm("Index","Login",FormMethod.Post))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                </div>
                
                <button type="submit" class="btn btn-primary btn-success">Submit</button>
            }

        </form>
    </div>
    <script src="~/Content/jquery/jquery.min.js"></script>
    <script src="~/Content/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>
</html>
